## 1. Ingest and Access Data

using SQLalchemy to ingest our data from our postgres database into a dataframe

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from pyspark.sql import SparkSession
# Database connection parameters
db_host = 'database-1.cxoaueie6ybk.us-east-2.rds.amazonaws.com'
db_port = 5432
db_name = 'postgres'
db_user = 'root'
db_password = 'irODJyh3LQpE0V3OcE3o'

# Create an engine to connect to the database
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Establish a connection to the database
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    dbname=db_name,
    user=db_user,
    password=db_password
)

OperationalError: could not translate host name "database-1.cxoaueie6ybk.us-east-2.rds.amazonaws.com" to address: Name or service not known

### Accessing Data: Reading Data into Dataframe

In [ ]:
# SQL query to fetch data
query = 'SELECT * FROM darwin'
# Load data into a DataFrame
df = pd.read_sql(query, con = conn)

df.head()

#### Looking at an overview of the data

In [ ]:
df.info()

## 2. Data Cleaning and Pre-processing

#### Dropping unnecessary columns

In [ ]:
df = df.drop(['working_time_pass','estimated_time','source','actual_time','actual_time_class',
              'source_instance','estimated_time_minutes','working_time_arrival','working_time_departure'], axis=1)
df.info()

#### Checking for duplicate data in the data set and dropping thhem

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates()
df.duplicated().sum()

#### Reading in a reference csv that helps to find the station names for every route, then drop all unnecessary columns

In [ ]:
df2 = pd.read_csv("./Data/RailReferences.csv")
df2.head()

In [ ]:
df2 = df2.drop(["StationNameLang","GridType","AtcoCode","Modification","CreationDateTime","ModificationDateTime","RevisionNumber","CrsCode"],axis=1)
df2

#### Merging the rail reference dataframe and main dataframe to show station name, easting, and northing for every datapoint.

In [ ]:
merged_df = pd.merge(df, df2, left_on='train_platform', right_on='TiplocCode', how='left')

#### Dropping the tiplocCode column as it was redundant with the added information

In [ ]:
df = merged_df.drop(["TiplocCode"],axis = 1)

#### Showing Dataframe after merging

In [ ]:
df.head()

In [ ]:
df.describe()

#### Checking for nulls

In [ ]:
df.isna().sum()

#### Dropping the nulls in Easting and Northing before converting them to Latitude and Longitude

In [ ]:
df = df.dropna(subset=['Easting', 'Northing'])

#### Installing bng_latlon package to convert northing and easting to latitude and longitude

In [ ]:
# !pip install bng_latlon

#### Creating a user defined function to calculate those values and writing to new columns with the longitude and latitude values

In [ ]:
from bng_latlon import OSGB36toWGS84
def latlong(df):
    lat_long = []
    for i in range(len(df)):
        lat_long.append( OSGB36toWGS84(df[i][0],df[i][1]) )
    return lat_long
df['Easting'] = df['Easting'].astype('int64')
df['Northing'] = df['Northing'].astype('int64')
df1 = df [['Easting','Northing']]
values = (df1.values)
lat_long = latlong(values)
#Writing to dataframe
lat = []
long = []
for i in range(len(lat_long)):
    lat.append(lat_long[i][0])
    long.append(lat_long[i][1])
    
df['Latitude'] = lat
df['Longitude'] = long

#### Creating a new dataframe that drops all null values and checking the amount of data left.

In [ ]:
na_df = df.dropna()

In [ ]:
#getting an overview of the amount of rows dropped and if we should continue with the null dropped dataset
na_df.info()

After dropping data we are left with ~100,000 datapoints which is ~25% of our total data. We think this is significant enough for our analysis.

In [ ]:
df = na_df

In [ ]:
df.info()

#### Changing all dates or time columns to the correct data type.

In [ ]:
from datetime import time
#changing the columns with dates to datetime objects
df['service_start_date'] = pd.to_datetime(df['service_start_date'])
df['planned_time_arrival'] = pd.to_datetime(df['planned_time_arrival'], format='%H:%M:%S').dt.time
df['planned_time_departure'] = pd.to_datetime(df['planned_time_departure'], format='%H:%M:%S').dt.time
df['actual_arrival_time'] = pd.to_datetime(df['actual_arrival_time'], format='%H:%M:%S').dt.time
df['actual_departure_time'] = pd.to_datetime(df['actual_departure_time'], format='%H:%M:%S').dt.time

df.info()

#### Converting all time columns to datetime objects with the service_start_date as the date

In [ ]:
from datetime import datetime
from datetime import timedelta
df['actual_departure_time'] = df.apply(lambda row: datetime.combine(row['service_start_date'].date(), row['actual_departure_time']), axis=1)
df['planned_time_departure'] = df.apply(lambda row: datetime.combine(row['service_start_date'].date(), row['planned_time_departure']), axis=1)
df['planned_time_arrival'] = df.apply(lambda row: datetime.combine(row['service_start_date'].date(), row['planned_time_arrival']), axis=1)
df['actual_arrival_time'] = df.apply(lambda row: datetime.combine(row['service_start_date'].date(), row['actual_arrival_time']), axis=1)

In [ ]:
df.dtypes

#### Creating user defined functions to check for cases of dates arrival times or actual departure times taking place the day after the service start day, and add a day to the column values.

In [ ]:
from datetime import datetime
from datetime import timedelta
#Adding service_start_date to time objects to get a datetime for every time column
def change_actual_departure(row):
    #Check if times occur after the initial service start day and correcting their date to the next day
    if row['actual_departure_time'] < row['planned_time_departure']: 
        return row['actual_departure_time'] + timedelta(days=1)
    return row['actual_departure_time']

def change_arrival(row):
    #Check if times occur after the initial service start day and correcting their date to the next day
    if row['actual_arrival_time'] < row['planned_time_arrival']: 
        return row['actual_arrival_time'] + timedelta(days=1)
    return row['actual_arrival_time']

In [ ]:
df['actual_departure_time'] = df.apply(change_actual_departure, axis=1)
df['actual_arrival_time'] = df.apply(change_arrival, axis=1)

#### Creating a calculated time difference column to further calculate delayed departure and arrival minutes

In [ ]:
from datetime import time, timedelta
df['actual_vs_planned_arrival'] = df['actual_arrival_time'] - df['planned_time_arrival']

df['actual_vs_planned_arrival']

In [ ]:
from datetime import time, timedelta

df['actual_vs_planned_departure'] = df['actual_departure_time'] - df['planned_time_departure']

#### Creating delayed arrival and delayed departure minutes column

In [ ]:
df['delayed_arrival_min'] = (df['actual_vs_planned_arrival'].dt.total_seconds() / 60)

df['delayed_departure_min'] = (df['actual_vs_planned_departure'].dt.total_seconds() / 60)

Function to calculate origin and destination for each trip

In [ ]:
def calculate_origin_destination(group):
    origin = group.iloc[0]['StationName']
    destination = group.iloc[-1]['StationName']
    return pd.Series({
        'Origin': origin,
        'Destination': destination
    })
# Group by route_id, unique_id, and service_start_date, then apply the function to calculate origin and destination
origin_destination = df.groupby(['route_id', 'unique_id', 'service_start_date']).apply(calculate_origin_destination).reset_index()
#Joining into original dataframe
df = df.merge(origin_destination, on=['route_id', 'unique_id', 'service_start_date'], how='left')

#### Getting an overview of the data before exporting to csv file.

In [ ]:
df.info()

In [ ]:
df.head()

Converting the dataframe into a csv file to be exported into other programs like PowerBI

In [ ]:
df.to_csv('./Data/cleanRailData.csv', index=False)

## 3. Data Visualization

In [ ]:
#importing plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

#### Distribution of Categorical and Numerical Data

In [ ]:

numerical_cols = ['planned_time_arrival', 'planned_time_departure', 'actual_arrival_time', 'actual_departure_time', 
                  'delayed_arrival_min', 'delayed_departure_min']
subplot_index = 1
for col in numerical_cols:
    plt.figure(figsize=(16, 20))
    plt.subplot(len(numerical_cols),1,subplot_index)
    sns.histplot(df[col], bins=7)
    plt.title(f'Distribution of {col}')
    plt.show()

In [ ]:
categorical_cols = ['is_delayed_arrival', 'is_delayed_departure','service_start_date']
#histograms for categorical variables
subplot_index = 1
for col in categorical_cols:
    plt.figure(figsize=(16, 20))
    plt.subplot(len(categorical_cols),1,subplot_index)
    sns.countplot(x=col, data=df)
    plt.title(f'Distribution of {col}')
    plt.show()

#### What is the distribution of delays in minutes?

In [ ]:
#creating a df with only delayed arrival trains
delayed_arrivals = df[df['is_delayed_arrival'] == True]
# Plotting the histogram using matplotlib
plt.hist(delayed_arrivals['delayed_arrival_min'], bins=5)

# Adding titles and labels
plt.title('Arrival Minutes Delayed Among Delayed Trips')
plt.xlabel('Arrival Delay (Minutes)')
plt.ylabel('Frequency')
plt.show()

In [ ]:
#creating a df with only delayed arriva trains
delayed_departures = df[df['is_delayed_departure'] == True]
# Plotting the histogram using matplotlib
plt.hist(delayed_arrivals['delayed_departure_min'], bins=5)

# Adding titles and labels
plt.title('Departure Minutes Delayed Among Delayed Trips')
plt.xlabel('Departure Delay (Minutes)')
plt.ylabel('Frequency')
plt.show()

#### Correlation Analysis among numerical data

In [ ]:
df1 = df[['train_length', 'delayed_arrival_min', 'delayed_departure_min', 'Latitude', 'Longitude']]
corr_matrix = df1.corr()
# Create a correlation heatmap
plt.figure(figsize=(5, 5))
sns.heatmap(corr_matrix, annot=True, cmap='Blues', fmt='.2f', linewidths=0.5)
plt.title('Correlation Between Numerical Data')
plt.show()

We found an absolute correlation between arrival delay and departure delay and decided to make a scatter plot to visualize the impact of Departure Delay on Arrival time.

In [ ]:
plt.figure(figsize=(10,6))
plt.scatter(df['delayed_departure_min'], df['delayed_arrival_min'], alpha=0.5)
plt.xlabel('Departure Delay (Minutes)')
plt.ylabel('Arrival Delay (Minutes)')
plt.title('Impact of Departure Delay on Arrival Delay')
plt.show()

This strong correlation of 1.00 shows that departure delay is significantly impacting the arrival time.